@import 'src/variables.scss';

@mixin root($bg, $color) {
 color: $color;
 min-height: 100vh;
 background-color: $bg;
 display: flex;
 flex-flow: column nowrap;

 .content {
  flex: 1 0 auto;
 }

 .footer {
  margin-top: 40px;
  flex: 0 0 auto;
 }
}

.dark-root {
 @include root($dark-second-bg, $dark-second-color)
}

.light-root {
 @include root($light-second-bg, $light-second-color)
}

@mixin ref($color, $transColor) {
 color: $color;
 font-size: 12px;
 &:hover {
  color: $transColor;
 }
}

.light-ref {
 @include ref(rgb(120, 120, 120), black);
}

.dark-ref {
 @include ref(rgba(213, 203, 208, 0.8), aliceblue);
}