@import 'src/variables.scss';

@mixin root($bg, $color) {
 color: $color;
 min-height: 100vh;
 background-color: $bg;
 display: flex;
 flex-flow: column nowrap;

 .content {
  flex: 1 0 auto;
 }

 .footer {
  margin-top: 40px;
  flex: 0 0 auto;
 }
}

.dark-root {
 @include root($dark-second-bg, $dark-second-color)
}

.light-root {
 @include root($light-second-bg, $light-second-color)
}

@mixin ref($color, $transColor) {
 color: $color;
 font-size: 12px;
 text-decoration: none;
 &:hover {
  transition: 0.3s !important;
  cursor: pointer;
  color: $transColor;
 }
}

@mixin remove-or-delete-button($bg, $color, $hoverColor) {
 background-color: $bg !important;
 color: $color !important;

 &:hover {
  transition: 1s !important;
  color: $hoverColor !important;
 }
}

.dark-remove-or-delete-button {
 @include remove-or-delete-button($dark-remove-or-delete, $dark-main-color, $dark-second-color);
}

.light-remove-or-delete-button {
 @include remove-or-delete-button($light-remove-or-delete, $light-main-color, $light-second-color);
}

.light-ref {
 @include ref(rgb(120, 120, 120), black);
}

.dark-ref {
 @include ref(rgba(213, 203, 208, 0.8), aliceblue);
}