@import "src/variables.scss";

@mixin card($bg, $buttonBg ,$color, $secondColor) {
  display: flex;
  flex-flow: column nowrap;
  padding: 10px;
  width: 400px;
  margin: 0 20px 20px;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  background-color: $bg;

  span {
    font-family: sans-serif;
  }

  .CardHeader {
    display: flex;
    color: $color;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-family: sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
    font-size: large;
  }

  .CardBody {
    margin-top: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: auto;
    width: 100%;
  }

  .CardDesc{
    color: $secondColor;
    margin-top: 15px;
    width: 150px;
    font-size: small;
    font-family: sans-serif;
    height: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
  }

  .CardAuthor {
    font-family: "Comic Sans MS";
    text-align: right;
    color: $color;
    margin-right: 15%;
  }

  .CardFooter {
    align-self: center;
    color: $color;
    margin-top: 10px;
    width: 75%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-family: sans-serif;
    white-space: nowrap;

    button {
      margin-left: 20px;
      background-color: $buttonBg;
      font-size: 12px;
      font-family: Tahoma, sans-serif;
      color: $color;
      width: 50%;
      padding: 5px;
      border-radius: 5px;
      border: 0;
      box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

      &:hover {
        transition: 1s !important;
        color: $secondColor;
      }
    }
  }
}

//$bg, $buttonBg ,$color, $secondColor
.dark-card {
  @include card($dark-main-bg, $dark-button-bg, $dark-main-color, $dark-second-color)
}

.light-card {
  @include card($light-main-bg, $light-button-bg, $light-main-color, $light-second-color)
}