$dark-main-bg: #1b1b1b;
$dark-second-bg: #4e4e4e;
$dark-third-bg: #484a59;
$dark-four-bg: #3b3b3b;

$dark-main-color: #d8d8d8;
$dark-second-color: #cdcdcda6;

$dark-button-bg: #3f4aab;
$dark-retrieve-button-bg: #3f4aab;
$dark-update-button-bg: #216c1e;

$light-main-bg: seashell;
$light-second-bg: #cecece;
$light-third-bg: #acb9de;
$light-four-bg: #8fa2a6;

$light-main-color: black;
$light-second-color: #4c4e4c;

$light-button-bg: #acb9de;
$light-retrieve-button-bg: #acb9de;
$light-update-button-bg: #2bad8f;