$dark-main-bg: #1b1b1b;
$dark-second-bg: #4e4e4e;
$dark-main-color: #d8d8d8;
$dark-second-color: #cdcdcda6;
$dark-button-bg: #202da3;
$light-main-bg: seashell;
$light-second-bg: #cecece;
$light-main-color: black;
$light-second-color: #4c4e4c;
$light-button-bg: #1aa849;